*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.$Schema.drawio.bkp
/.kotlin/errors/errors-1732284450806.log
/.kotlin/errors/errors-1732284487406.log
/.kotlin/errors/errors-1732284609900.log
/.kotlin/errors/errors-1732284609933.log
/.kotlin/errors/errors-1732284947258.log
/.kotlin/errors/errors-1732285253042.log
/.kotlin/errors/errors-1732287513025.log
